html {
  overscroll-behavior: none;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background: radial-gradient(circle,rgba(243, 242, 243, 1) 11%, rgba(175, 173, 177, 1) 100%);  
  margin: 0;
}

main {
  padding: 5rem;
  margin: auto;
  padding: 5rem;
}

.nav_icon {
  background-color: #868686;
  color: white;
  padding: 5px;
  border: none;
  width: 3rem;
  height: auto;
  border-radius: 5px;
}

.nav_icon img {
  width: 100%;
  height: 100%;
}

nav {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #868686;
  min-width: 160px;
  box-shadow: 0px 8px 8px 0px rgba(77, 77, 77, 0.2);
  z-index: 1;
}

.dropdown_content a {
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  background-color: #605f5f;
}

nav:hover .dropdown_content {display: block;}



.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 400px;
  height: auto;
}

.search_bar {
  display: flex;
  justify-content: center;
}

.device_objects {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10rem;
}

.object {
  width: 300px;
  height: 300px;
  margin-bottom: 7rem;
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.popup {

}

.about_container {
  background: rgb(228, 228, 228);
  border-radius: 10px;
  padding: 60px 30px 60px 30px;
  text-align: center;

}

.parent_container {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px; 
  border: 1px solid black; 
  width: 50%; 
}

.child_container { 
  margin: 10px; 
}
