* {
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
  font-family: "Roboto Condensed", sans-serif;
}

body {

  background: radial-gradient(#f3f2f3, #767577); 
  margin: 0;
  background-attachment: fixed;
}

#blur_body {
  filter: blur(0px);
}

main {
  padding: 5rem;
  margin: auto;
  padding: 5rem;
}

.nav_icon {
  background-color: #6d6b6eb6;
  color: white;
  padding: 3px;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_icon img {
  width: 60%;
  height: 60%;
}

nav {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #717171;
  min-width: 150px;
  box-shadow: 0px 8px 8px 0px rgba(77, 77, 77, 0.2);
  z-index: 1;
}

.dropdown_content a {
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  background-color: #605f5f;
}

nav:hover .dropdown_content {display: block;}


.logo {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.logo img {
  width: 500px;
  height: auto;
}

.search_bar {
  display: flex;
  justify-content: center;
}

.device_objects {
  visibility: visible;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 7rem;
}

.object {
  width: 300px;
  height: 300px;
  margin-bottom: 7rem;
  text-align: center;
  position: relative;
}

div.object {
  position: relative;
}

  div.object a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
  }

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about_container {
  background: rgba(52, 52, 52, 0.629);
  border-radius: 10px;
  padding: 60px 30px 60px 30px;
  width: 800px;
  text-align: center;
  margin: 60px 0px 0px 10px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: white;

}

.search_bar {
  margin: 60px 0px 0px 0px;
}

.action {
  margin-right: 10px;
}


.parent_container {
  margin: 10px 20px 10px 20px;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.child_container {
  display: inline-block;
  padding: 1rem 1rem;
  text-align: left;
  margin: 20px 60px 10px 60px;
}

#left {
  padding: 40px 90px 40px 90px;
  background: rgba(255, 255, 255, 0.526);
  border-radius: 25px;
  vertical-align: middle;
}

#right {
  vertical-align: middle;
  justify-content: left;
}

#popupdiv {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup_window {
  position: relative;
  background-color: rgba(52, 52, 52, 0.839);
  border-radius: 12px;
  padding: 4rem 2rem 4rem 2rem;
  backdrop-filter: blur(0px);

}

#popup_close {
  position: absolute;
  top: -30px;
  right: 0;
}

#rightpopup {
  vertical-align: middle;
  text-align: left;
  color: white;
}

#leftpopup {
  width: 25rem;
  height: 20rem;
  padding: 1rem;
  border-radius: 25px;
  vertical-align: middle;
  text-align: center;
}

#leftpopup img {
  height: 100%;
  width: 100%;
  object-fit: contain; 
}

.popupchild {
  display: inline-block;
  padding: 1rem 1rem;
  text-align: left;
  margin: 1rem;
}
