html {
  overscroll-behavior: none;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background: radial-gradient(circle,rgba(243, 242, 243, 1) 11%, rgba(175, 173, 177, 1) 100%);  
  margin: 0;
}

main {
  padding: 5rem;
  margin: auto;
  padding: 5rem;
}

.nav_icon {
  background-color: #868686;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 5rem;
  height: auto;
}

.nav_icon img {
  width: 100%;
  height: 100%;
}

nav {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #868686;
  min-width: 160px;
  box-shadow: 0px 8px 8px 0px rgba(77, 77, 77, 0.2);
  z-index: 1;
}

.dropdown_content a {
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  background-color: #605f5f;
}

nav:hover .dropdown_content {display: block;}



.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 400px;
  height: auto;
}

.search_bar {
  display: flex;
  justify-content: center;
}

.device_objects {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10rem;
}

.object {
  width: 300px;
  height: 300px;
  margin-bottom: 7rem;
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.popup {

}

footer {

}

/* @import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d8f0ff;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    height:100px;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin-right: 1rem;
  }
nav ul li a {
    text-decoration-line:none;
    text-transform: uppercase; 
    color: #393b45;
  }
nav ul li a:hover {
    color: #62a3a1;
}
nav h1 {
    color: #0c5451;
    margin-bottom: 0.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
  }
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 17rem;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}
.card-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.card-name {
  color: #222;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
.card-about {
  text-overflow: ellipsis;
  width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom:1rem;
}
.btn {
  border:none;
  background:none;
  border-radius:5px;
  box-shadow:1px 1px 2px rgba(21, 21, 21, 0.1);
  cursor:pointer;
  font-size:1.25rem;
  margin:0 1rem;
  padding:.25rem 2rem;
  transition:all .25s ease-in-out;
  background: hsl(110,21%,93%);
  color:hsl(141,100%,22%);
  margin-bottom:1rem;
}
.btn:focus, .btn:hover {
  box-shadow:1px 1px 2px rgba(21, 21, 21, 0.2);
  background: hsl(111,21%,86%);
}
.about-container {
  font-size:1.25rem;
  margin-top:2rem;
  text-align: justify;
  text-justify: inter-word;
}
  */