* {
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
  font-family: "Roboto Condensed", sans-serif;
}

body {

  background: radial-gradient(#f3f2f3, #767577); 
  margin: 0;
  background-attachment: fixed;
}

main {
  padding: 5rem;
  margin: auto;
  padding: 5rem;
}

.nav_icon {
  background-color: #717171;
  color: white;
  padding: 5px;
  border: none;
  width: 3rem;
  height: auto;
  border-radius: 5px;
}

.nav_icon img {
  width: 100%;
  height: 100%;
}

nav {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #717171;
  min-width: 150px;
  box-shadow: 0px 8px 8px 0px rgba(77, 77, 77, 0.2);
  z-index: 1;
}

.dropdown_content a {
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  background-color: #605f5f;
}

nav:hover .dropdown_content {display: block;}


.logo {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.logo img {
  width: 500px;
  height: auto;
}

.search_bar {
  display: flex;
  justify-content: center;
}

.device_objects {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 7rem;
}

.object {
  width: 300px;
  height: 300px;
  margin-bottom: 7rem;
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about_container {
  background: rgba(255, 255, 255, 0.526);
  border-radius: 10px;
  padding: 60px 30px 60px 30px;
  width: 800px;
  text-align: center;
  margin: 60px 0px 0px 10px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

}

.search_bar {
  margin: 60px 0px 0px 0px;
}

.action {
  margin-right: 10px;
}

form#search_field input[type=search] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;
  width: 80%;
  background: #f1f1f1;
}

form#search_field button {
  float: right;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-right: none;
  cursor: pointer;
}

form#search_field button:hover {
  background: #0b7dda;
}

form#search_field::after {
  content: "";
  clear: both;
  display: table;
}


.parent_container {
  margin: 10px 20px 10px 20px;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.child_container {
  display: inline-block;
  padding: 1rem 1rem;
  text-align: left;
  margin: 20px 60px 10px 60px;
}

#left {
  padding: 40px 90px 40px 90px;
  background: rgba(255, 255, 255, 0.526);
  border-radius: 25px;
  vertical-align: middle;
}

#right {
  justify-content: left;
}

.popup {

}